{{ user }}     ALL = NOPASSWD: /usr/bin/supervisorctl status MasterProject
{{ user }}     ALL = NOPASSWD: /usr/bin/supervisorctl start MasterProject
{{ user }}     ALL = NOPASSWD: /usr/bin/supervisorctl stop MasterProject
{{ user }}     ALL = NOPASSWD: /usr/bin/supervisorctl restart MasterProject

